.bord-content {
    margin: auto;
    margin-top: 5vh;
    width: 80%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ctn-camera {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.camera {
    margin-top: 100px;
    width: 1400px;
    height: 1050px;
    background-color: white;
}

#video, #canvas {
    width: 1400px;
    height: 1050px;
}

#canvas {
    display: none;
}

.ctn-btn {
    display: flex;
    flex-direction: row;
    position: relative;
}

.ctn-scrool {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    height: 80%;
    align-items: center;
    justify-content: center;
}

.surcouche {
    overflow: hidden;
    margin-top: auto;
    height: 80%;
}

.scrool {
    display: flex;
    flex-direction: column;
}

.goodies {
    margin: 10px;
    width: 200px;
    height: 200px;
    background-color: white;
    transition: transform 0.5s ease;
}

#btn-top {
    width: 75px;
    transform: rotate(270deg);
}

#btn-btm {
    transform: rotate(90deg);
    width: 75px;
}
